.loader {
  animation: spin 1s infinite linear;
  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: silver;
  border-top-color: silver;
  box-sizing: border-box;
  height: 8vmin;
  left: calc(50% - 4vmin);
  position: fixed;
  top: calc(50% - 4vmin);
  width: 8vmin;
  z-index: 2000;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
