<mat-card class="card-list">
  <mat-card-header color="primary">
      <mat-card-title>Atividades</mat-card-title>
      <div fxFlex></div>
      <button mat-icon-button matTooltip="Atualizar" aria-label="Atualizar" (click)="loadWorks()">
          <mat-icon>refresh</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Procurar" aria-label="Procurar" (click)="onShowSearch()">
          <mat-icon>search</mat-icon>
      </button>
  </mat-card-header>
  <mat-card-content>
    <div class="search" [ngClass]="{ 'hidden': !showSearch }" fxFlexLayout="row" fxLayoutAlign="start center">
        <app-autocomplete fxFlex="30" name="Projetos" display="title" #projects [(ngModel)]="search.projectId" (selectionChange)="loadWorks();">
        </app-autocomplete>
        <mat-checkbox [style.marginLeft.px]="15" [(ngModel)]="search.viewAll" (change)="loadWorks()">Listar Todos
        </mat-checkbox>
        <span fxFlex></span>
        <div>
            <button mat-icon-button matTooltip="Remover filtro" (click)="onHideSearch()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
      <div class="not-found" *ngIf="listState.noItems">
          <mat-icon>warning</mat-icon>
          <p>Nenhuma Atividade!</p>
      </div>
      <a mat-fab [routerLink]="['new']" color="primary">
          <mat-icon>add</mat-icon>
      </a>
      <div *ngIf="listState.loading" class="loading-spinner">
          <mat-spinner mode="indeterminate"></mat-spinner>
      </div>
      <div *ngIf="listState.done">
          <table mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="comment">
                  <th mat-header-cell *matHeaderCellDef>Descrição</th>
                  <td mat-cell *matCellDef="let work" (click)="edit(work)">{{ work.comment }}</td>
              </ng-container>
              <ng-container matColumnDef="startTime">
                  <th mat-header-cell *matHeaderCellDef>Início</th>
                  <td mat-cell *matCellDef="let work" (click)="edit(work)">{{ formatDate(work.startTime) }}</td>
              </ng-container>
              <ng-container matColumnDef="endTime">
                  <th mat-header-cell *matHeaderCellDef>Fim</th>
                  <td mat-cell *matCellDef="let work" (click)="edit(work)">{{ formatDate(work.endTime) }}</td>
              </ng-container>
              <ng-container matColumnDef="project">
                  <th mat-header-cell *matHeaderCellDef>Projeto</th>
                  <td mat-cell *matCellDef="let work" (click)="edit(work)">{{ work.projectTitle }}</td>
              </ng-container>
              <ng-container matColumnDef="developer">
                  <th mat-header-cell *matHeaderCellDef>Desenvolvedor</th>
                  <td mat-cell *matCellDef="let work" (click)="edit(work)">{{ work.developerName }}</td>
              </ng-container>
              <ng-container matColumnDef="hours">
                  <th mat-header-cell *matHeaderCellDef>Horas</th>
                  <td mat-cell *matCellDef="let work" [routerLink]="['edit', work.id, { projectId: work.projectId }]">{{ work.hours }}</td>
              </ng-container>
              <ng-container matColumnDef="actions" stickyEnd>
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let work">
                      <button mat-icon-button *ngIf="work.developerId === currentDeveloperId" [matMenuTriggerFor]="workMenu">
                          <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #workMenu="matMenu">
                          <button mat-menu-item [routerLink]="['edit', work.id]">Editar</button>
                          <button mat-menu-item (click)="remove(work)">Remover</button>
                      </mat-menu>
                  </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="columns"></tr>
              <tr mat-row *matRowDef="let work; columns: columns;" [ngClass]="{ 'table-row-cursor-pointer': work.developerId === currentDeveloperId }"></tr>
          </table>
          <mat-paginator [length]="listState.totalItems" [pageSize]="search.limit" [pageIndex]="search.page -1"
              [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true" (page)="pageChange($event)">
          </mat-paginator>
      </div>
  </mat-card-content>
</mat-card>
